.brandlogo {display:none;}
.pagetitle {text-align:center;display:none;}
#board_show .ava {width: 120px; height: 26px;}
body {background-image:none;background-color:black}
.pageheader {background:#000000;border-top:0px solid #222;height:0px;}